models
src/tf_optimizer/__pycache__
src/tf_optimizer/tf_optimizer/benchmarker/__pycache__
src/tf_optimizer/tf_optimizer/network/__pycache__
src/tf_optimizer/optimizer/__pycache__
src/tests/resources
src/tests/__pycache__
model.tflite
.idea
.pytest_cache
poetry.lock
logs
src/__pycache__
.vscode
/sql_app.db
/optimized_models/
